* {
    margin: 0;
    paddinig: 0;
    box-sizing: border-box;

    --header-height: 170px;
    --header-padding: 20px;
    --spacer-color: rgb(117, 212, 45);
    --spacer-height-dynamic: clamp(10px, 1.25vw, 15px);
    --larger-font: clamp(18px, 1.95vw, 24px);
    --smaller-font: clamp(10px, 1.25vw, 14px);
    --small-pizza-img-size: clamp(30px, 20vw, 50px);
}

body {
    height: 100%;
    width: 100%;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: min(var(--header-height), auto);
    width: 100%;
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.wrapper-first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

header img {
    object-fit: contain;
    height: auto; /* calc(var(--header-height) - var(--header-padding)); */
    width: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

nav button {
    margin: 6px 6px 0px 0px;
    font-size: 1.25rem;
    padding: 4px 10px;
    font-weight: 700;
    color: white;
    background-color: red;
    text-transform: uppercase;
    font-family: monospace;
    border: 4px solid black;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    opacity: 0.7;
}

nav button:hover {
    transform: translateY(6px);
    opacity: 1;
    box-shadow: 0 0 4px darkgrey;
}

nav button:active {
    opacity: 1;
}

.active {
    opacity: 1;
    border: 4px solid black;
    box-shadow: 0 0 4px lightgrey;
    /* transform: translateY(6px); */
}

.spacer {
    width: 100%;
    background-color: var(--spacer-color);
    height: var(--spacer-height-dynamic);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    margin-top: calc(var(--header-height) + 5px);
    padding: 18px;
    width: 70%;
    font-size: var(--larger-font);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#content p {
    width: 100%;
}

#content .smaller {
    font-size: var(--smaller-font);
}

#content .party-img {
    margin: 2rem;
    object-fit: contain;
    /* height: auto; */
    width: clamp(30%, 500px, 90%);
}

#content ul {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--larger-font), 16px, calc(var(--larger-font) * 1.25));
}

#content li {
    list-style-type: none;
    display: flex;
    gap: clamp(var(--smaller-font), 20px, var(--larger-font)); 

}

.pizza-img-small {
    width: var(--small-pizza-img-size);
}

#content li:nth-child(odd) img {
    transform: rotate(-90deg);
}

#content li:nth-child(even) {
    flex-direction: row-reverse;
}

#content li:nth-child(even) img {
    transform: rotate(90deg);
}

.dish-title {

}

.dish-description {
    margin-top: 4px;
    font-weight: 400;
}

footer {
    line-height: 1.5;
    font-size: large;
    width: 70%;
    padding: 18px;
}

@media (max-width: 800px) {

    * {
        margin: 0;
        paddinig: 0;
        box-sizing: border-box;

        --header-height: 200px;
        --header-padding: 20px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    main {
        /* top: calc(var(--header-height) + 20px);
        position: relative; */
    }
    
    header {
        /* background-color: red; */
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    header img {
        object-fit: contain;
        height: auto; /* calc(var(--header-height) - var(--header-padding)); */
        width: auto;
    }

    nav {
        align-items: center;
    }

    .wrapper-first-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    footer {
        font-size: small;
    }

}